/*CUSTOM FONTS*/
@font-face {
	font-family: story;
	src: url('fonts/story.woff2') format('woff2'),
		 url('fonts/story.woff') format('woff'),
		 url('fonts/story.tff') format('truetype');
}

@font-face {
	font-family: enchant;
	src: url('fonts/enchanted.woff2') format('woff2'),
		 url('fonts/enchanted.woff') format('woff'),
		 url('fonts/enchanted.tff') format('truetype');
}

@font-face {
	font-family: antique;
	src: url('fonts/antique.woff2') format('woff2'),
		 url('fonts/antique.woff') format('woff'),
		 url('fonts/antique.tff') format('truetype');
}

@font-face {
	font-family: futura;
	src: url('fonts/futura.woff2') format('woff2'),
		 url('fonts/futura.woff') format('woff'),
		 url('fonts/futura.tff') format('truetype');
}

@font-face {
	font-family: monk;
	src: url('fonts/monk.woff2') format('woff2'),
		 url('fonts/monk.woff') format('woff'),
		 url('fonts/monk.tff') format('truetype');
}

@font-face {
	font-family: frutiger;
	src: url('fonts/frutiger.woff2') format('woff2'),
		 url('fonts/frutiger.woff') format('woff'),
		 url('fonts/frutiger.tff') format('truetype');
}



/*MAIN PAGE ELEMENTS*/

.noBorder
{
	border: none;
}


body
{
	width:100%;
	height:100%;
	text-align: center;
	margin: 0;
	padding: 0;
	min-height: auto;
	background-image: url(background-main.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#main
{
	width: 1024px;
	min-height: 768px;
	max-height: 768px;
	position: relative;
	margin: 0 auto;
	
}

#wrapper
{
	width: 1000px;
	min-height: 768px;
	max-height: 768px;
}

#login
{
	height: 56px;
	min-height: 56px;
	width: 1078px;
}

#login #LoginIMGBG_blue
{
	background-image: url(css_style/login.png);
	float: left;
	width: 1080px;
	min-height: 55px;
	height: 55px;	
}

#login #LoginIMGBG_red
{
	background-image: url(css_style/login_red.png);
	float: left;
	width: 1080px;
	min-height: 55px;
	height: 55px;	
}

#login #LoginIMGBG_blue #loginbox_blue
{
	background-image: url(css_style/login_feld.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	width: 225px;
	height: 25px;
	align-self: center;
}

#login #LoginIMGBG_red #loginbox_red
{
	background-image: url(css_style/login_feld_red.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	width: 225px;
	height: 25px;
	align-self: center;
}


#login #LoginIMGBG_blue #loginbox_blue #login-box-field
{
	display:inline;

	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}

#login #LoginIMGBG_red #loginbox_red #login-box-field
{
	display:inline;

	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}



form { 
		float: left; 
		align-self: center;
		}


.form-login  {
	width: 154px;
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 1px;
	border: 1px solid #0d2c52;
	background-color:#e6e6e6;
	font-size: 16px;
	color: #000000;
}

#login #LoginIMGBG_blue #passwordbox_blue
{
	background-image: url(css_style/password_feld.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	width: 225px;
	height: 25px;
}

#login #LoginIMGBG_red #passwordbox_red
{
	background-image: url(css_style/password_feld_red.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	width: 225px;
	height: 25px;
}


#login #LoginIMGBG_blue #passwordbox_blue #login-box-field
{
	display:inline;

	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}

#login #LoginIMGBG_red #passwordbox_red #login-box-field
{
	display:inline;
	
	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}


#register .registerbutton_blue
{
	background-image: url(css_style/button_register_not_hover.png);
	background-color: Transparent;
	background-repeat: no-repeat;
	width: 194px;
	height: 72px;	
	outline: none;
	border:none;
	cursor:pointer;
}

#register .registerbutton_red
{
	background-image: url(css_style/button_register_not_hover_red.png);
	background-color: Transparent;
	background-repeat: no-repeat;
	width: 194px;
	height: 72px;	
	outline: none;
	border:none;
	cursor:pointer;
}


#register .registerbutton_blue:hover
{
	background-image: url(css_style/button_register_hover.png);
	background-color: Transparent;
	background-repeat: no-repeat;
	width: 194px;
	height: 72px;
	outline: none;
	border:none;
	cursor:pointer;
}

#register .registerbutton_red:hover
{
	background-image: url(css_style/button_register_hover_red.png);
	background-color: Transparent;
	background-repeat: no-repeat;
	width: 194px;
	height: 72px;
	outline: none;
	border:none;
	cursor:pointer;
}

#login #LoginIMGBG_blue .loginbutton_blue
{
	background-image: url(css_style/login_button.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: 7px;
	float: left;
	width: 82px;
	height: 31px;
	outline: none;
	border:none;	
	cursor:pointer;
}

#login #LoginIMGBG_red .loginbutton_red
{
	background-image: url(css_style/login_button_red.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: 7px;
	float: left;
	width: 82px;
	height: 31px;
	outline: none;
	border:none;	
	cursor:pointer;
}


#login #LoginIMGBG_blue .loginbutton_blue:hover
{
	background-image: url(css_style/login_button_hover.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: 7px;
	float: left;
	width: 82px;
	height: 31px;	
	border-width:0px;
	outline: none;
	border:none;	
	cursor:pointer;
}

#login #LoginIMGBG_red .loginbutton_red:hover
{
	background-image: url(css_style/login_button_hover_red.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: 7px;
	float: left;
	width: 82px;
	height: 31px;	
	border-width:0px;
	outline: none;
	border:none;	
	cursor:pointer;
}

#header
{
	height: 250px;
	min-height: 250px;
	width: 1078px;
}

#header #LogoIMG
{
	background-image: url(css_style/logo.png);
	background-repeat: no-repeat;	
	width: 1078px;
	float: left;
	height: 260px;
}


#header #LogoIMG_blue
{
	background-image: url(css_style/logo.png);
	background-repeat: no-repeat;	
	width: 1078px;
	float: left;
	height: 260px;
}

#header #LogoIMG_red
{
	background-image: url(css_style/logo_red.png);
	background-repeat: no-repeat;	
	width: 1078px;
	float: left;
	height: 260px;
}


#header #LogoIMG_blue .Login
{
	float: left;
	font-family: 'enchant';
	color: white;
}

#header #LogoIMG_red .Login
{
	float: left;
	font-family: 'enchant';
	color: white;
}


#body_sopra
{
	background-image: url(css_style/hb1.png);	
	background-repeat: no-repeat;	
	padding: 11px;	
	height: 56px;
	min-height: 56px;
	width: 1101px;
}

#body_sopra #MenueIMG_blue
{
	background-image: url(css_style/menu.png);
	background-repeat: no-repeat;	
	margin: 0 0 10px;	
	width: 1080px;
	float: none;
	height: 61px;
}

#body_sopra #MenueIMG_red
{
	background-image: url(css_style/menu_red.png);
	background-repeat: no-repeat;	
	margin: 0 0 10px;	
	width: 1080px;
	float: none;
	height: 61px;
}

#body_sopra #MenueIMG_blue #navi
{
	list-style-type: none;
	padding-top: 20px;
	
}

#body_sopra #MenueIMG_red #navi
{
	list-style-type: none;
	padding-top: 20px;
	
}

#body_sopra #MenueIMG_blue #navi a
{
	text-decoration: none;
	color: white;
	
}

#body_sopra #MenueIMG_red #navi a
{
	text-decoration: none;
	color: white;
	
}

#body_sopra #MenueIMG_blue #navi li
{
	display: inline;
	margin-right: 50px;
	margin-left: 50px;
	/*font-weight: bold;*/
}

#body_sopra #MenueIMG_red #navi li
{
	display: inline;
	margin-right: 50px;
	margin-left: 50px;
	/*font-weight: bold;*/
}

#body_sopra #MenueIMG_blue #navi li:hover
{
	display: inline;
	margin-right: 50px;
	margin-left: 50px;
	font-weight: bold;
}

#body_sopra #MenueIMG_red #navi li:hover
{
	display: inline;
	margin-right: 50px;
	margin-left: 50px;
	font-weight: bold;
}

#body_centro_confirm
{
	
	background: url(css_style/hb2.png);
	background-repeat: repeat-y;
	background-position: center;
	min-height: 160px;
	width: 1101px;
	height: 500px;	
}

#body_centro 
{
	
	background: url(css_style/hb2.png);
	background-repeat: repeat-y;
	width: 1101px;
	height: 1060px;
	opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

#body_centro #SlideIMG_blue
{
	background-image: url(css_style/slidebg.png);
	position: relative;
	left: 11px;
	background-repeat: no-repeat;
	width: 1080px;
	height: 252px;
}

#body_centro #SlideIMG_red
{
	background-image: url(css_style/slidebg_red.png);
	position: relative;
	left: 11px;
	background-repeat: no-repeat;
	width: 1080px;
	height: 252px;
}

#body_centro #LinksMenu
{	
	position: relative;
	margin-top:8px;
	float: left;
	left: 11px;
	height: 50px;
	min-height: 50px;
	width: 268px;
}

#body_centro  #LinksMenu #sopra_blue
{
	background-image: url(css_style/lb1.png);
	background-repeat: no-repeat;		
	float: left;	
	height: 5px;
	min-height: 5px;
	width: 268px;
}

#body_centro  #LinksMenu #sopra_red
{
	background-image: url(css_style/lb1_red.png);
	background-repeat: no-repeat;		
	float: left;	
	height: 5px;
	min-height: 5px;
	width: 268px;
}

#body_centro  #LinksMenu #centro_blue
{
	background: url('css_style/lb2.png') repeat-y;
	float: left;
	height: 625px;
	min-height: 480px;
	margin: 0 0 -29;
	width: 268px;
}

#body_centro  #LinksMenu #centro_red
{
	background: url('css_style/lb2_red.png') repeat-y;
	float: left;
	height: 625px;
	min-height: 480px;
	margin: 0 0 -29;
	width: 268px;
}



#body_centro  #LinksMenu #centro_blue #ServerInfos_blue
{
	background-image: url(css_style/server_info_box.png);
	position: relative;
	left: 9px;
	height: 230px;
	min-height: 210px;
	width: 250px;
}

#body_centro  #LinksMenu #centro_red #ServerInfos_red
{
	background-image: url(css_style/server_info_box_red.png);
	position: relative;
	left: 9px;
	height: 230px;
	min-height: 210px;
	width: 250px;
}


#body_centro #LinksMenu #centro_blue #Download_blue
{
	background: url(css_style/dl_box.png) no-repeat;
	position: relative;
	left: 9px;
	height: 107px;
	min-height: 107px;
	width: 250px;
}

#body_centro #LinksMenu #centro_red #Download_red
{
	background: url(css_style/dl_box.png) no-repeat;
	position: relative;
	left: 9px;
	height: 107px;
	min-height: 107px;
	width: 250px;
}


#body_centro  #LinksMenu #sotto_blue
{
	background-image: url(css_style/lb3.png);
	background-repeat: no-repeat;
	margin: 0 0 0;
	float: left;	
	height: 48px;
	min-height: 28px;
	width: 268px;
}

#body_centro  #LinksMenu #sotto_red
{
	background-image: url(css_style/lb3_red.png);
	background-repeat: no-repeat;
	margin: 0 0 0;
	float: left;	
	height: 58px;
	min-height: 28px;
	width: 268px;
}

#body_centro_confirm #Content
{
	float: right;
	position: relative;
	right: 11px;
	margin-top:8px;
	margin-right: 110px;
	height: 5px;
	min-height: 5px;
	width: 340px;
}

#body_centro #Content
{
	float: right;
	position: relative;
	right: 11px;
	margin-top:8px;
	height: 5px;
	min-height: 5px;
	width: 340px;	
}

#body_centro_confirm  #Content #sopra_blue
{
	background-image: url(css_style/c1.png);
	background-repeat: no-repeat;	
	margin: 0 0 -4px;	
	float: right;
	height: 15px;
	min-height: 15px;
	width: 801px;
}

#body_centro_confirm  #Content #sopra_red
{
	background-image: url(css_style/c1_red.png);
	background-repeat: no-repeat;	
	margin: 0 0 -4px;	
	float: right;
	height: 15px;
	min-height: 15px;
	width: 801px;
}

#body_centro  #Content #sopra_blue
{
	background-image: url(css_style/c1.png);
	background-repeat: no-repeat;	
	margin: 0 0 -4px;	
	float: right;
	height: 15px;
	min-height: 15px;
	width: 801px;
}

#body_centro  #Content #sopra_red
{
	background-image: url(css_style/c1_red.png);
	background-repeat: no-repeat;	
	margin: 0 0 -4px;	
	float: right;
	height: 15px;
	min-height: 15px;
	width: 801px;
}

#body_centro_confirm  #Content #centro_blue
{
	background-image: url(css_style/c2.png);
	float: right;	
	min-height: 37.5;
	width: 801px;
	height: 37.5;
	
}



#body_centro_confirm  #Content #centro_red
{
	background-image: url(css_style/c2_red.png);
	float: right;	
	min-height: 37.5;
	width: 801px;
	height: 37.5;
	
}



#body_centro  #Content #centro_blue
{
	background-image: url(css_style/c2.png);
	float: right;	
	min-height: 37.5;
	width: 801px;
	height: 37.5;
	
}

#body_centro  #Content #centro_red
{
	background-image: url(css_style/c2_red.png);
	float: right;	
	min-height: 37.5;
	width: 801px;
	height: 37.5;
	
}



/*Username*/
#body_centro  #Content #centro_blue #Username_blue
{
	background-image: url(css_style/login_feld.png);
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 40px;
	float: left;
	width: 225px;
	height: 25px;	
}

#body_centro  #Content #centro_red #Username_red
{
	background-image: url(css_style/login_feld_red.png);
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 40px;
	float: left;
	width: 225px;
	height: 25px;	
}

#body_centro  #Content #centro_blue #Username_blue #box-field
{
	display:inline;
	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}

#body_centro  #Content #centro_red #Username_red #box-field
{
	display:inline;
	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}
/*Password*/
#body_centro  #Content #centro_blue #Password_blue
{
	background-image: url(css_style/password_feld.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
	width: 225px;
	height: 25px;	
}

#body_centro  #Content #centro_red #Password_red
{
	background-image: url(css_style/password_feld_red.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
	width: 225px;
	height: 25px;	
}

#body_centro  #Content #centro_blue #Password_blue #box-field
{
	display:inline;
	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}

#body_centro  #Content #centro_red #Password_red #box-field
{
	display:inline;
	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}

/*Password WDH*/
#body_centro  #Content #centro_blue #PasswordWDH_blue
{
	background-image: url(css_style/password_feld.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
	width: 225px;
	height: 25px;	
}

#body_centro  #Content #centro_red #PasswordWDH_red
{
	background-image: url(css_style/password_feld_red.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
	width: 225px;
	height: 25px;	
}

#body_centro  #Content #centro_blue #PasswordWDH_blue #box-field
{
	display:inline;
	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}

#body_centro  #Content #centro_red #PasswordWDH_red #box-field
{
	display:inline;
	filter:alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}


#body_centro_confirm  #Content #sotto_blue
{
	background-image: url(css_style/c3.png);
	background-repeat: no-repeat;
	float: right;	
	height: 18px;
	min-height: 18px;
	width: 801px;
}

#body_centro_confirm  #Content #sotto_red
{
	background-image: url(css_style/c3_red.png);
	background-repeat: no-repeat;
	float: right;	
	height: 18px;
	min-height: 18px;
	width: 801px;
}

#body_centro  #Content #sotto_blue
{
	background-image: url(css_style/c3.png);
	background-repeat: no-repeat;
	float: right;	
	height: 18px;
	min-height: 18px;
	width: 801px;
}


#body_centro  #Content #sotto_red
{
	background-image: url(css_style/c3_red.png);
	background-repeat: no-repeat;
	float: right;	
	height: 18px;
	min-height: 18px;
	width: 801px;
}

#body_sotto
{
	background-image: url(css_style/hb3.png);	
	background-repeat: no-repeat;	
	padding: 11px;
	height: 86px;
	min-height: 86px;
	width: 1101px;
}

#body_sotto_blue
{
	background-image: url(css_style/hb3.png);	
	background-repeat: no-repeat;	
	padding: 11px;
	height: 86px;
	min-height: 86px;
	width: 1101px;
}

#body_sotto_red
{
	background-image: url(css_style/hb3.png);	
	background-repeat: no-repeat;	
	padding: 11px;
	height: 86px;
	min-height: 86px;
	width: 1101px;
}



#clock{
width: 100px;
height: 30px;
display: inline-block;
margin-top: -13px;
font-size: 18px;
font-family: frutiger;
}


/*CHECKING BOXES FACTIONS IN REGISTRATION*/

#checkingbox{
	min-height: 368px;
	max-height: 368px;
	display: inline;
	align-content: center;
}

.providentia {
    display:none;
}

.providentia + label{
	background: transparent;
    background-image: url(./css_style/providentia.png);
	background-size: 300px;
	background-repeat: no-repeat;
    width: 300px;
    height: 305px;
	display:inline-block;
	cursor:pointer;
    padding: 0 0 0 0px;
}

.providentia:checked + label{
	background: transparent;
	background-image: url(./css_style/providentia_hover.png);
	background-repeat: no-repeat;
	background-size: 300px;
    width: 300px;
    height: 305px;
	display:inline-block;
	cursor:pointer;
    padding: 0 0 0 0px;
}

.drariva {
    display:none;
}

.drariva + label{
	background: transparent;
    background-image: url(./css_style/drariva.png);
	background-size: 300px;
	background-repeat: no-repeat;
    width: 300px;
    height: 305px;
	display:inline-block;
	cursor:pointer;
	padding: 0 0 0 0px;
	left: 100px;
}

.drariva:checked + label{
	background: transparent;
	background-image: url(./css_style/drariva_hover.png);
	background-repeat: no-repeat;
	background-size: 300px;
    width: 300px;
    height: 305px;
	display:inline-block;
	cursor:pointer;
	padding: 0 0 0 0px;
	left: 100px;
}



/*AFTER LOGIN*/

#logout .logoutbutton_blue
{
	background-image: url(css_style/logout_button.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: -26px;
	margin-left: 830px;
	float: left;
	width: 112px;
	height: 31px;
	outline: none;
	border:none;	
	cursor:pointer;
}

#logout .logoutbutton_red
{
	background-image: url(css_style/logout_button_red.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: -26px;
	margin-left: 830px;
	float: left;
	width: 112px;
	height: 31px;
	outline: none;
	border:none;	
	cursor:pointer;
}


#logout .logoutbutton_blue:hover
{
	background-image: url(css_style/logout_button_hover.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: -26px;
	margin-left: 830px;
	float: left;
	width: 112px;
	height: 31px;
	outline: none;
	border:none;	
	cursor:pointer;
}

#logout .logoutbutton_red:hover
{
	background-image: url(css_style/logout_button_hover_red.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: -26px;
	margin-left: 830px;
	float: left;
	width: 112px;
	height: 31px;
	outline: none;
	border:none;	
	cursor:pointer;
}

#logindone_blue{	
	display: inline-block;
	margin-top: -45px;
	width: auto;
	height: 25px;
	cursor: pointer;
	font-family: enchant;
	font-size: 28px;
	vertical-align: text-top;
}

#logindone_blue:hover 
{
	color: turquoise;
	font-weight: bold;
}

#logindone_red{	
	display: inline-block;
	margin-top: -45px;
	width: auto;
	height: 25px;
	cursor: pointer;
	font-family: enchant;
	font-size: 28px;
	vertical-align: middle;
}

#logindone_red:hover 
{
	color: red;
	font-weight: bold;
}

@-moz-document url-prefix() {
	#logindone_blue {
		height: 45px;
	}
	#logindone_red {
		height: 45px;
	}
  }

div.userprovidentia{
	background-image: url(css_style/providentia_user.png);	
	background-size: 100%;
	margin-left: 10px;
	width: 44px;
	height: 44px;
}

div.userdrariva {
	background-image: url(css_style/drariva_user.png);	
	background-size: 100%;
	margin-left: 13px;
	width: 44px;
	height: 44px;
}

div.goldtext{
	margin-left: 299px;
	margin-top: -23px;
	width: auto;
	height: auto;
}

div.unitstext{
	margin-left: 500px;
	margin-top: -23px;
	width: auto;
	height: auto;
}

div.lowgold {
	background-image: url(css_style/low_gold.png);	
	background-size: 30px;
	background-repeat: no-repeat;
	margin-left: 635px;
	margin-top: -44px;
	width: 90px;
	height: 30px;
}

div.mediumgold {
	background-image: url(css_style/medium_gold.png);	
	background-size: 30px;
	background-repeat: no-repeat;
	margin-left: 635px;
	margin-top: -44px;
	width: 90px;
	height: 30px;
}

div.highgold {
	background-image: url(css_style/high_gold.png);	
	background-size: 30px;
	background-repeat: no-repeat;
	margin-left: 635px;
	margin-top: -44px;
	width: 90px;
	height: 30px;
}

div.units {
	background-image: url(css_style/units.png);	
	background-size: 30px;
	background-repeat: no-repeat;
	margin-left: 735px;
	margin-top: -25px;
	width: 90px;
	height: 30px;
}


div.languages {
	display: none;
	margin-top: -25px;
	width: auto;
	height: auto;
}

div.nologin {
	background-image: url(css_style/nologin.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	background-size: 100%;
	margin-top: 7px;
	float: left;
	width: 82px;
	height: 31px;
	outline: none;
	border:none;	
}

#noserverdragon{
	background-image: url(css_style/noserverdragon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 600px;
	height: 280px;	
}


/*FACTIONS*/

#drariva_faction{
	margin-top:60px;
	display: inline-block;
	width: 600px;
	height: 180px;
	background-image:url(css_style/drariva_info.png) ;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

#drariva_faction:hover{
	margin-top:60px;
	display: inline-block;
	width: 600px;
	height: 180px;
	background-image:url(css_style/drariva_info_hover.png) ;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

#drariva_faction_story{
	margin-top:50px;
	display: inline-block;
	width: 600px;
	height: 220px;
	background-image:url(css_style/drariva_info.png) ;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

#providentia_faction{
	margin-top:82px;
	display: inline-block;
	width: 600px;
	height: 220px;
	background-image:url(css_style/providentia_info.png) ;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

#providentia_faction:hover{
	margin-top:82px;
	display: inline-block;
	width: 600px;
	height: 220px;
	background-image:url(css_style/providentia_info_hover.png) ;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

#providentia_faction_story{
	margin-top:50px;
	display: inline-block;
	width: 600px;
	height: 220px;
	background-image:url(css_style/providentia_info.png) ;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}


/*SHOP*/


#shop { 
	margin-left: 15px;
	padding:4px;  
	width: 750px; 
	height: 607px; 
	overflow-x: hidden; 
	overflow-x: auto; 
	text-align:justify; 
}

#shop #gold {
	background-image: url(css_style/low_gold.png);	
	background-size: 35px;
	background-repeat: no-repeat;
	margin-left: -10px;
	float: left;
	width: 90px;
	height: 35px;
}


#shop #goldprice{
	float: left;
	margin-top: 13px;
	margin-left: -57px;
	width: 80px;
	height: 20px;
}

#shop #unit {
	background-image: url(css_style/units.png);	
	background-size: 35px;
	background-repeat: no-repeat;
	margin-left: -30px;
	float: left;
	width: 90px;
	height: 35px;
}


#shop #unitprice{
	float: left;
	margin-top: 13px;
	margin-left: -52px;
	width: 80px;
	height: 20px;
}

#shop #backspecial{
	background-image: url(shop/back_special.png);
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 20px;
	margin-left: 26px;
	width: 335px;
	height: 100px;
	cursor: pointer;
}

#shop #backspecial:hover{
	background-image: url(shop/back_special_hover.png);
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 20px;
	margin-left: 26px;
	width: 335px;
	height: 100px;
	cursor: pointer;
}

#shop #back{
	background-image: url(shop/back.png);
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 20px;
	margin-left: 26px;
	width: 335px;
	height: 100px;
	cursor: pointer;
}

#shop #back:hover{
	background-image: url(shop/back_hover.png);
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 20px;
	margin-left: 26px;
	width: 335px;
	height: 100px;
	cursor: pointer;
}


#shop #titletext{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	width: 200px;
	height: 60px;
}

#shop #back #health{
	float: left;
	background-image: url(shop/health.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #mana{
	float: left;
	background-image: url(shop/mana.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #stamina{
	float: left;
	background-image: url(shop/stamina.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #dice{
	float: left;
	background-image: url(shop/diviner_dice.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #backspecial #dreamflower{
	float: left;
	background-image: url(shop/dreamflower.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #eternalslayer{
	float: left;
	background-image: url(shop/eternal_slayer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #redsmith{
	float: left;
	background-image: url(shop/redsmith_hammer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #realmswarden{
	float: left;
	background-image: url(shop/realmswarden_axe.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #metamedallion{
	float: left;
	background-image: url(shop/meta_medallion.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #hushedring{
	float: left;
	background-image: url(shop/hushed_ring.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #spellwriting{
	float: left;
	background-image: url(shop/spellwriter.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #starfists{
	float: left;
	background-image: url(shop/fist_of_the_stars.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #back #oath{
	float: left;
	background-image: url(shop/oath.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}

#shop #backspecial #noname{
	float: left;
	background-image: url(shop/noname.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 21px;
	width: 60px;
	height: 60px;
}


#health{

	background-image: url(shop/health.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#mana{
	background-image: url(shop/mana.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#stamina{
	background-image: url(shop/stamina.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#dice{
	background-image: url(shop/diviner_dice.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#dreamflower{
	background-image: url(shop/dreamflower.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#eternalslayer{
	background-image: url(shop/eternal_slayer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#redsmith{
	background-image: url(shop/redsmith_hammer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#realmswarden{
	background-image: url(shop/realmswarden_axe.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#metamedallion{
	background-image: url(shop/meta_medallion.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#hushedring{
	background-image: url(shop/hushed_ring.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#spellwriting{
	background-image: url(shop/spellwriter.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#starfists{
	background-image: url(shop/fist_of_the_stars.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#oath{
	background-image: url(shop/oath.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}

#noname{
	background-image: url(shop/noname.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 21px;
	display: inline-block;
	width: 400px;
	height: 400px;
}


.plusbutton{
	background-image: url(shop/plus.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 10px;
	width: 70px;
	height: 70px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.plusbutton:hover{
	background-image: url(shop/plus_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.minusbutton{
	background-image: url(shop/minus.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 10px;
	width: 70px;
	height: 70px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.minusbutton:hover{
	background-image: url(shop/minus_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}


.buy_gold{
	margin-left: 357px;
	background-image: url(shop/buy_gold.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0;
	border: none;
	outline: none;
	width: 80px;
	height: 80px;
	cursor: pointer;
	color: transparent;
}

.buy_gold:hover{
	background-image: url(shop/buy_gold_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0;
	border: none;
	outline: none;
	width: 80px;
	height: 80px;
}

.buy_units{
	background-image: url(shop/buy_units.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0;
	border: none;
	outline: none;
	width: 80px;
	height: 80px;
	cursor: pointer;
	color: transparent;
}

.buy_units:hover{
	background-image: url(shop/buy_units_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0;
	border: none;
	outline: none;
	width: 80px;
	height: 80px;
}

.buy_units_special{
	margin-left: 400px;
	background-image: url(shop/buy_units_special.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0;
	border: none;
	outline: none;
	width: 80px;
	height: 80px;
	cursor: pointer;
	color:transparent;
}

.buy_units_special:hover{
	background-image: url(shop/buy_units_special_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0;
	border: none;
	outline: none;
	width: 80px;
	height: 80px;
}

.itemquantity{
	margin-left: 350px;
	display: block;
}

.itemquantity_special{
	margin-left: 400px;
	display: block;
}

.shopclosed{
	background-image: url(css_style/shopclosed.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	width: 500px;
	height: 400px;
	display: inline-block;
}


/*LOADING GIFS*/
.loading_blue{
	background-image: url(css_style/loading_blue.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	width: 80px;
	height: 68px;
	display: inline-block;
}

.loading_red{
	background-image: url(css_style/loading_red.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	width: 80px;
	height: 68px;
	display: inline-block;
}

.loading_neutral{
	background-image: url(css_style/loading_neutral.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	width: 80px;
	height: 68px;
	display: inline-block;
}


/*DONATION BOX*/
.donations{
	width: 750px;
	height: 100px;
	display: inline-block;
	margin-left: 90px;
}

/*PROFILE USERNAME IN BOX*/

.profile_username_red{
	display: inline-block;
	width: 200px;
	height: 60px;
	font-family: enchant;
	color: red;
	font-size: 70px;
}

.profile_username_blue{
	display: inline-block;
	width: 200px;
	height: 60px;
	font-family: enchant;
	color: turquoise;
	font-size: 70px;
}

.profile_info{
	display: inline-block;
	width: 800px;
	height: 80px;
	font-family: frutiger;
	font-size: 30px;
}


/*PROFILE INVENTORY*/

#inventory{
	display: block;
	padding:4px;  
	width: 875px; 
	height: 365px; 
	overflow-x: hidden; 
	overflow-x: auto; 
	text-align:justify; 
	font-family: frutiger;
	font-size: 30px;
}

#inventory #textleft{
	float: left;
	margin-top:  50px;
	margin-left: 10px;
}

#inventory #textright{
	float: right;
	margin-top:  50px;
	margin-right: 188px;
}

#inventory #health{
	float: left;
	background-image: url(shop/health.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 189px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #mana{
	background-image: url(shop/mana.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #stamina{
	float: left;
	background-image: url(shop/stamina.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 189px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #dice{
	float: left;
	background-image: url(shop/diviner_dice.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #dreamelixir{
	float: left;
	background-image: url(shop/dreamflower.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 189px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #eternalslayer{
	float: left;
	background-image: url(shop/eternal_slayer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #redsmith{
	float: left;
	background-image: url(shop/redsmith_hammer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 189px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #realmswarden{
	float: left;
	background-image: url(shop/realmswarden_axe.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #metamedallion{
	float: left;
	background-image: url(shop/meta_medallion.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 189px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #hushedring{
	float: left;
	background-image: url(shop/hushed_ring.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #spellwriting{
	float: left;
	background-image: url(shop/spellwriter.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 189px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #fallingstars{
	float: left;
	background-image: url(shop/fist_of_the_stars.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 189px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #oath{
	float: left;
	background-image: url(shop/oath.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}

#inventory #noname{
	float: left;
	background-image: url(shop/noname.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 21px;
	width: 100px;
	height: 100px;
}


/*DOWNLOAD PICTURE*/

#dl_blue{
	display: inline-block;
	background-image: url(/style/css_style/dl_blue.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
}

#dl_red{
	display: inline-block;
	background-image: url(/style/css_style/dl_red.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
}



/*INSTAGRAM*/
#instagram{
	background-image: url(/style/css_style/instagram.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-top: 30px;
}

#instagram:hover{
	background-image: url(/style/css_style/instagram_hover.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 70px;
	height: 70px;
	margin-top: 30px;
}


.instaback{
	margin-top: 2px;
	width: 250px;
	height: 127px;
	display: inline-block;
	background-image: url(../backdrariva.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

/*PROFILE PICTURE*/
#profile_picture{
	width: 130px;
	height: 100px;
	display: inline-block;
}

.circular--square{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: -20px;
	display: inline-block;
	}

.select-image{
	float: none;
	margin-top: 10px;
}

.cameraicon{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 40px;
	background-image: url(css_style/cam.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.cameraicon:hover{
	width: 25px;
	height: 25px;
	background-image: url(css_style/cam_hover.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: transparent;
	border: none;
	outline: none;
}

.image-upload>input {
	display: none;
  }




/*FORUM*/
.forum_red{
	display: inline-block;
	background-image: url(css_style/forum_red.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 500px;
	height: 150px;
}

.forum_red:hover{
	display: inline-block;
	background-image: url(css_style/forum_red_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 500px;
	height: 150px;
}

.forum_blue{
	display: inline-block;
	background-image: url(css_style/forum_blue.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 500px;
	height: 150px;
}

.forum_blue:hover{
	display: inline-block;
	background-image: url(css_style/forum_blue_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 500px;
	height: 150px;
}

.replyforum{
	margin-left: 210px;
	width: 600px;
	height: 320px;
}

.forum_text{
	margin-left: 15px;
	padding:4px;  
	width: 750px; 
	height: 607px; 
	overflow-x: hidden; 
	overflow-x: auto; 
	text-align:center;
    word-wrap: break-word; 
}

/*GILDE*/

.guild{
	margin-top: -40px;
	margin-left:70px;
	width: 27px;
	height: 47px;
	background-image: url(css_style/guild.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.guild:hover{
	margin-top: -40px;
	margin-left:70px;
	width: 27px;
	height: 47px;
	background-image: url(css_style/guild_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


.warlock{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 107px;
	height: 145px;
	background-image: url(css_style/stregoni.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.paladin{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 107px;
	height: 165px;
	background-image: url(css_style/paladini.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.guardian{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 107px;
	height: 168px;
	background-image: url(css_style/guardiani.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.seeker{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 146px;
	height: 151px;
	background-image: url(css_style/cercatori.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.wise{
	margin-right: 20px;
	display: inline-block;
	width: 146px;
	height: 151px;
	background-image: url(css_style/sapienti.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.warlock:hover{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 107px;
	height: 145px;
	background-image: url(css_style/stregoni_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.paladin:hover{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 107px;
	height: 165px;
	background-image: url(css_style/paladini_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.guardian:hover{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 107px;
	height: 168px;
	background-image: url(css_style/guardiani_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.seeker:hover{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 146px;
	height: 151px;
	background-image: url(css_style/cercatori_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.wise:hover{
	margin-right: 20px;
	display: inline-block;
	width: 146px;
	height: 151px;
	background-image: url(css_style/sapienti_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.guild_it{
	display: inline-block;
	width: 546px;
	height: 151px;
	background-image: url(css_style/gilde_it.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.guild_us{
	display: inline-block;
	width: 546px;
	height: 151px;
	background-image: url(css_style/gilde_en.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#guildselector{
	display: none;
	width: 600px;
	height: 280px;
	font-family: frutiger;
}

#guildselector #title{
	display: inline-block;
	font-size: 30px;
}

#guildselector .enter{	
	display: block;
	margin-left: 201px;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildenter.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
}

#guildselector .enter:hover{
	display: block;
	margin-left: 201px;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildenter_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;

}

#guildselector .exit{
	display: inline-block;
	margin-left: 201px;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildenter.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
	color: transparent;
	font-size: 0px;
}

#guildselector .exit:hover{
	display: block;
	margin-left: 201px;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildexit.png);
	background-size: 100%;
	background-repeat: no-repeat;
}



#guildselector .members{
	margin-top: 10px;
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildmembers.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	color: transparent;
	font-size: 0;  
}

.exit{
	display: inline-block;
	margin-left: 331px;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildenter.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
	color: transparent;
	font-size: 0px;
}

.exit:hover{
	display: block;
	margin-left: 331px;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildexit.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


#guildselector .members:hover{
	display: block;
	width: 200px;
	height: 80px;
	background-image: url(css_style/guildmembers_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#guildroles{
	display: none;
	width: 600px;
	height: 100px;
	font-family: frutiger;
}

#guildroles .attacker{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/attackrole.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: transparent;
}

#guildroles .attacker:hover{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/attackrole_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#guildroles .defender{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/defenserole.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: transparent;
}

#guildroles .defender:hover{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/defenserole-hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#guildroles .sorcerer{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/sorcerer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: transparent;
}

#guildroles .sorcerer:hover{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/sorcerer_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#guildroles .healer{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/healer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: transparent;
}

#guildroles .healer:hover{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(css_style/healer_hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


#guildselector .dynamic_member{
	display: inline-block;
	width: 200px;
	height: 100px;
	overflow-x: hidden; 
	overflow-x: auto; 
	text-align:center;
	font-style: frutiger; 

}


/*Bottoni Bootstrap*/
	.btn {
		display: inline-block;
		font-weight: 400;
		color: #212529;
		text-align: center;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: transparent;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	  }
	  
	  @media (prefers-reduced-motion: reduce) {
		.btn {
		  transition: none;
		}
	  }
	  
	  .btn:hover {
		color: #212529;
		text-decoration: none;
	  }
	  
	  .btn:focus, .btn.focus {
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	  }
	  
	  .btn.disabled, .btn:disabled {
		opacity: 0.65;
	  }
	  
	  .btn:not(:disabled):not(.disabled) {
		cursor: pointer;
	  }
	  
	  a.btn.disabled,
	  fieldset:disabled a.btn {
		pointer-events: none;
	  }
	  
	  .btn-primary {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	  }
	  
	  .btn-primary:hover {
		color: #fff;
		background-color: #0069d9;
		border-color: #0062cc;
	  }
	  
	  .btn-primary:focus, .btn-primary.focus {
		color: #fff;
		background-color: #0069d9;
		border-color: #0062cc;
		box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
	  }
	  
	  .btn-primary.disabled, .btn-primary:disabled {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	  }
	  
	  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
	  .show > .btn-primary.dropdown-toggle {
		color: #fff;
		background-color: #0062cc;
		border-color: #005cbf;
	  }
	  
	  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-primary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
	  }
	  
	  .btn-secondary {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	  }
	  
	  .btn-secondary:hover {
		color: #fff;
		background-color: #5a6268;
		border-color: #545b62;
	  }
	  
	  .btn-secondary:focus, .btn-secondary.focus {
		color: #fff;
		background-color: #5a6268;
		border-color: #545b62;
		box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
	  }
	  
	  .btn-secondary.disabled, .btn-secondary:disabled {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	  }
	  
	  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
	  .show > .btn-secondary.dropdown-toggle {
		color: #fff;
		background-color: #545b62;
		border-color: #4e555b;
	  }
	  
	  .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-secondary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
	  }
	  
	  .btn-success {
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
	  }
	  
	  .btn-success:hover {
		color: #fff;
		background-color: #218838;
		border-color: #1e7e34;
	  }
	  
	  .btn-success:focus, .btn-success.focus {
		color: #fff;
		background-color: #218838;
		border-color: #1e7e34;
		box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
	  }
	  
	  .btn-success.disabled, .btn-success:disabled {
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
	  }
	  
	  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
	  .show > .btn-success.dropdown-toggle {
		color: #fff;
		background-color: #1e7e34;
		border-color: #1c7430;
	  }
	  
	  .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-success.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
	  }
	  
	  .btn-info {
		color: #fff;
		background-color: #17a2b8;
		border-color: #17a2b8;
	  }
	  
	  .btn-info:hover {
		color: #fff;
		background-color: #138496;
		border-color: #117a8b;
	  }
	  
	  .btn-info:focus, .btn-info.focus {
		color: #fff;
		background-color: #138496;
		border-color: #117a8b;
		box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
	  }
	  
	  .btn-info.disabled, .btn-info:disabled {
		color: #fff;
		background-color: #17a2b8;
		border-color: #17a2b8;
	  }
	  
	  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
	  .show > .btn-info.dropdown-toggle {
		color: #fff;
		background-color: #117a8b;
		border-color: #10707f;
	  }
	  
	  .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-info.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
	  }
	  
	  .btn-warning {
		color: #212529;
		background-color: #ffc107;
		border-color: #ffc107;
	  }
	  
	  .btn-warning:hover {
		color: #212529;
		background-color: #e0a800;
		border-color: #d39e00;
	  }
	  
	  .btn-warning:focus, .btn-warning.focus {
		color: #212529;
		background-color: #e0a800;
		border-color: #d39e00;
		box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
	  }
	  
	  .btn-warning.disabled, .btn-warning:disabled {
		color: #212529;
		background-color: #ffc107;
		border-color: #ffc107;
	  }
	  
	  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
	  .show > .btn-warning.dropdown-toggle {
		color: #212529;
		background-color: #d39e00;
		border-color: #c69500;
	  }
	  
	  .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-warning.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
	  }
	  
	  .btn-danger {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	  }
	  
	  .btn-danger:hover {
		color: #fff;
		background-color: #c82333;
		border-color: #bd2130;
	  }
	  
	  .btn-danger:focus, .btn-danger.focus {
		color: #fff;
		background-color: #c82333;
		border-color: #bd2130;
		box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
	  }
	  
	  .btn-danger.disabled, .btn-danger:disabled {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	  }
	  
	  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
	  .show > .btn-danger.dropdown-toggle {
		color: #fff;
		background-color: #bd2130;
		border-color: #b21f2d;
	  }
	  
	  .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-danger.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
	  }
	  
	  .btn-light {
		color: #212529;
		background-color: #f8f9fa;
		border-color: #f8f9fa;
	  }
	  
	  .btn-light:hover {
		color: #212529;
		background-color: #e2e6ea;
		border-color: #dae0e5;
	  }
	  
	  .btn-light:focus, .btn-light.focus {
		color: #212529;
		background-color: #e2e6ea;
		border-color: #dae0e5;
		box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
	  }
	  
	  .btn-light.disabled, .btn-light:disabled {
		color: #212529;
		background-color: #f8f9fa;
		border-color: #f8f9fa;
	  }
	  
	  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
	  .show > .btn-light.dropdown-toggle {
		color: #212529;
		background-color: #dae0e5;
		border-color: #d3d9df;
	  }
	  
	  .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-light.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
	  }
	  
	  .btn-dark {
		color: #fff;
		background-color: #343a40;
		border-color: #343a40;
	  }
	  
	  .btn-dark:hover {
		color: #fff;
		background-color: #23272b;
		border-color: #1d2124;
	  }
	  
	  .btn-dark:focus, .btn-dark.focus {
		color: #fff;
		background-color: #23272b;
		border-color: #1d2124;
		box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
	  }
	  
	  .btn-dark.disabled, .btn-dark:disabled {
		color: #fff;
		background-color: #343a40;
		border-color: #343a40;
	  }
	  
	  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
	  .show > .btn-dark.dropdown-toggle {
		color: #fff;
		background-color: #1d2124;
		border-color: #171a1d;
	  }
	  
	  .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-dark.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
	  }
	  
	  .btn-outline-primary {
		color: #007bff;
		border-color: #007bff;
	  }
	  
	  .btn-outline-primary:hover {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	  }
	  
	  .btn-outline-primary:focus, .btn-outline-primary.focus {
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
	  }
	  
	  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
		color: #007bff;
		background-color: transparent;
	  }
	  
	  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-primary.dropdown-toggle {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	  }
	  
	  .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-primary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
	  }
	  
	  .btn-outline-secondary {
		color: #6c757d;
		border-color: #6c757d;
	  }
	  
	  .btn-outline-secondary:hover {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	  }
	  
	  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
		box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
	  }
	  
	  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
		color: #6c757d;
		background-color: transparent;
	  }
	  
	  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-secondary.dropdown-toggle {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	  }
	  
	  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-secondary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
	  }
	  
	  .btn-outline-success {
		color: #28a745;
		border-color: #28a745;
	  }
	  
	  .btn-outline-success:hover {
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
	  }
	  
	  .btn-outline-success:focus, .btn-outline-success.focus {
		box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
	  }
	  
	  .btn-outline-success.disabled, .btn-outline-success:disabled {
		color: #28a745;
		background-color: transparent;
	  }
	  
	  .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-success.dropdown-toggle {
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
	  }
	  
	  .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-success.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
	  }
	  
	  .btn-outline-info {
		color: #17a2b8;
		border-color: #17a2b8;
	  }
	  
	  .btn-outline-info:hover {
		color: #fff;
		background-color: #17a2b8;
		border-color: #17a2b8;
	  }
	  
	  .btn-outline-info:focus, .btn-outline-info.focus {
		box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
	  }
	  
	  .btn-outline-info.disabled, .btn-outline-info:disabled {
		color: #17a2b8;
		background-color: transparent;
	  }
	  
	  .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-info.dropdown-toggle {
		color: #fff;
		background-color: #17a2b8;
		border-color: #17a2b8;
	  }
	  
	  .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-info.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
	  }
	  
	  .btn-outline-warning {
		color: #ffc107;
		border-color: #ffc107;
	  }
	  
	  .btn-outline-warning:hover {
		color: #212529;
		background-color: #ffc107;
		border-color: #ffc107;
	  }
	  
	  .btn-outline-warning:focus, .btn-outline-warning.focus {
		box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
	  }
	  
	  .btn-outline-warning.disabled, .btn-outline-warning:disabled {
		color: #ffc107;
		background-color: transparent;
	  }
	  
	  .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-warning.dropdown-toggle {
		color: #212529;
		background-color: #ffc107;
		border-color: #ffc107;
	  }
	  
	  .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-warning.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
	  }
	  
	  .btn-outline-danger {
		color: #dc3545;
		border-color: #dc3545;
	  }
	  
	  .btn-outline-danger:hover {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	  }
	  
	  .btn-outline-danger:focus, .btn-outline-danger.focus {
		box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
	  }
	  
	  .btn-outline-danger.disabled, .btn-outline-danger:disabled {
		color: #dc3545;
		background-color: transparent;
	  }
	  
	  .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-danger.dropdown-toggle {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	  }
	  
	  .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-danger.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
	  }
	  
	  .btn-outline-light {
		color: #f8f9fa;
		border-color: #f8f9fa;
	  }
	  
	  .btn-outline-light:hover {
		color: #212529;
		background-color: #f8f9fa;
		border-color: #f8f9fa;
	  }
	  
	  .btn-outline-light:focus, .btn-outline-light.focus {
		box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
	  }
	  
	  .btn-outline-light.disabled, .btn-outline-light:disabled {
		color: #f8f9fa;
		background-color: transparent;
	  }
	  
	  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-light.dropdown-toggle {
		color: #212529;
		background-color: #f8f9fa;
		border-color: #f8f9fa;
	  }
	  
	  .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-light.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
	  }
	  
	  .btn-outline-dark {
		color: #343a40;
		border-color: #343a40;
	  }
	  
	  .btn-outline-dark:hover {
		color: #fff;
		background-color: #343a40;
		border-color: #343a40;
	  }
	  
	  .btn-outline-dark:focus, .btn-outline-dark.focus {
		box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
	  }
	  
	  .btn-outline-dark.disabled, .btn-outline-dark:disabled {
		color: #343a40;
		background-color: transparent;
	  }
	  
	  .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
	  .show > .btn-outline-dark.dropdown-toggle {
		color: #fff;
		background-color: #343a40;
		border-color: #343a40;
	  }
	  
	  .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
	  .show > .btn-outline-dark.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
	  }
	  
	  .btn-link {
		font-weight: 400;
		color: #007bff;
		text-decoration: none;
	  }
	  
	  .btn-link:hover {
		color: #0056b3;
		text-decoration: underline;
	  }
	  
	  .btn-link:focus, .btn-link.focus {
		text-decoration: underline;
	  }
	  
	  .btn-link:disabled, .btn-link.disabled {
		color: #6c757d;
		pointer-events: none;
	  }
	  
	  .btn-lg, .btn-group-lg > .btn {
		padding: 0.5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
		border-radius: 0.3rem;
	  }
	  
	  .btn-sm, .btn-group-sm > .btn {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		line-height: 1.5;
		border-radius: 0.2rem;
	  }
	  
	  .btn-block {
		display: block;
		width: 100%;
	  }
	  
	  .btn-block + .btn-block {
		margin-top: 0.5rem;
	  }

	  input[type="submit"].btn-block,
	  input[type="reset"].btn-block,
	  input[type="button"].btn-block {
		width: 100%;
	  }





/* CHAT */
.open-button_blue {
  border-radius: 25px;
  background: rgb(63,231,251);
  background: radial-gradient(circle, rgba(63,231,251,1) 0%, rgba(14,108,255,1) 100%);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.open-button_blue .dot {
	margin-top: -15px;
	margin-left: 220px;
	height: 15px;
	width: 15px;
	background-color: blue;
	border-radius: 50%;
	display: none;
}

.open-button_red {
	border-radius: 25px;
	background: rgb(253,29,29);
    background: radial-gradient(circle, rgba(253,29,29,1) 17%, rgba(247,120,0,1) 74%);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
  }

.open-button_red .dot {
	margin-top: -15px;
	margin-left: 220px;
	height: 15px;
	width: 15px;
	background-color: crimson;
	border-radius: 50%;
	display: none;
  }


.chat-popup {
  border-radius: 25px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
}


.form-container {
  border-radius: 25px;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 50px;
  box-sizing: border-box;
  font-style: italic;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7371323529411764) 35%, rgba(0,212,255,1) 100%);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 25px;
  box-shadow: black;
}

.form-container .cancel {
	background: rgb(63,94,251);
	background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(255,14,14,1) 100%);
}

.form-container .btn:hover, .open-button_blue:hover, .open-button_red:hover {
  opacity: 1;
}

.form-container .messaggi {
    max-height:200px;
	overflow-y:auto;
	text-align: left;
	word-wrap: break-word; 
}

.form-container .messaggicheck {
	display: none;
    max-height:200px;
	overflow-y:auto;
	text-align: left;
	word-wrap: break-word; 
}

.forum_container { 
	margin-left: 15px;
	padding:4px;  
	width: 750px; 
	height: 607px; 
	overflow-x: hidden; 
	overflow-x: auto; 
	display: inline-block; 
}



/* Gif Fazioni */
.drariva_faction_symbol{
	background-image: url(css_style/drariva.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 500px;
	height: 300px;
}

.providentia_faction_symbol{
	background-image: url(css_style/providentia.gif);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 500px;
	height: 300px;
}

/*MODAL BOXES*/
.w3-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-ul{list-style-type:none;padding:0;margin:0}.w3-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.w3-ul li:last-child{border-bottom:none}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-ripple:active{opacity:0.5}.w3-ripple{transition:opacity 0s}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.w3-check,.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-modal{z-index:3;display:none;padding-top:50px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-responsive{display:block;overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both;}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-rest{overflow:hidden}.w3-stretch{margin-left:-16px;margin-right:-16px}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}
.w3-cell-top{vertical-align:top}.w3-cell-middle{vertical-align:middle}.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.w3-auto{max-width:95%}}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}
.w3-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-position{position:absolute}
.w3-circle{border-radius:50%}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-code,.w3-codespan{font-family:Consolas,"courier new";font-size:16px}
.w3-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.w3-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}
.w3-greyscale-max,.w3-grayscale-max,.w3-hover-greyscale:hover,.w3-hover-grayscale:hover{filter:grayscale(100%)}
.w3-greyscale,.w3-grayscale{filter:grayscale(75%)}.w3-greyscale-min,.w3-grayscale-min{filter:grayscale(50%)}
.w3-sepia{filter:sepia(75%)}.w3-sepia-max,.w3-hover-sepia:hover{filter:sepia(100%)}.w3-sepia-min{filter:sepia(50%)}
.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}
.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}
.w3-topbar{border-top:6px solid #ccc!important}.w3-bottombar{border-bottom:6px solid #ccc!important}
.w3-leftbar{border-left:6px solid #ccc!important}.w3-rightbar{border-right:6px solid #ccc!important}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}.w3-padding-large{padding:12px 24px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-hover-none:hover{box-shadow:none!important}
.w3-container{margin-bottom: 100px;}